<div class="center hero-unit">
<h1>CK Health and Fitness</h1>
<h2>Join our online community to access recipes, workouts and much, much more</h2>
<%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>
